body {
  font-family: sans-serif;
  text-align: center;
  width: 300px;
  padding: 10px;
}

#drop-zone {
  border: 2px dashed #888;
  padding: 30px;
  margin: 10px 0;
  cursor: pointer;
  background-color: #f9f9f9;
}